{% extends "base_template.html.twig" %}


{% block title %}
    Ririgram register page
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="css/userForms.css">
{% endblock %}


{% block content %}
    <main>
    <section id="title">
        <div class="container-fluid">
            <div class="container">
                <h1>Ririgram</h1>
            </div>
        </div>
    </section>

    <section>
        <div class="container-fluid">
            <div class="container">

                <!-- connexion form -->
                <form id="log-in_form" method="post" action="login" novalidate>
                    <h2>Enregistrement</h2>
                    <div class="form-group">
                        <div class="label-group">
                            <label for="username">
                                Pseudo
                                <span class="question-mark" id="username-help"></span>
                                <span class="msg-error">                                 
                                    {% if errors.username is defined %}
                                        {{ error.username }}
                                    {% endif %}
                                </span>
                            </label>
                        </div>
                        <input type="text" class="form-control" id="username" name="username" value="{{ values.username }}">
                    </div>
                    <div class="form-group">
                        <div class="label-group">
                            <label for="email">
                                Email
                                <span class="msg-error">
                                    {% if errors.email is defined %}
                                        {{ error.email }}
                                    {% endif %}
                                </span>
                            </label>
                        </div>
                        <input type="email" class="form-control" id="email" name="email" value="{{ values.email }}">
                    </div>
                    <div class="form-group">
                        <div class="label-group">
                            <label for="password">
                                Mot de passe
                                <span class="question-mark" id="password-help"></span>
                                <span class="msg-error">
                                    {% if errors.password is defined %}
                                       {{ error.password }}
                                    {% endif %}
                                </span>
                            </label>
                        </div>
                        <input type="password" class="form-control" id="password" name="password" value="{{ values.password }}">
                    </div>
                    <div class="form-group">
                        <div class="label-group">
                            <label for="password-bis">
                                Mot de passe
                                <span class="question-mark" id="password-bis-help"></span>
                                <span class="msg-error">
                                    {% if errors.passwordBis is defined %}
                                        {{ error.passwordBis }}
                                    {% endif %}
                                </span>
                            </label>
                        </div>
                        <input type="password" class="form-control" id="password-bis" name="password-bis" value="{{ values.password }}">
                    </div>
                    <!-- send-login will be used in php to check the form content -->
                    <button type="submit" name="send-login" class="btn">Enregistrer</button>
                </form>
            </div>
        </div>
    </main>
{% endblock %}

{% block script %}
    <script src="js/register.js"></script>
{% endblock %}